<div class="dashboard-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                {{> ads}}
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="right sub">
                    <article>
                        <header>
                            <h2>Sparade annonser</h2>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#Redigera">Aktiva</a></li>
                                <li><a data-toggle="tab" href="#menu1">Missade</a></li>
                            </ul>
                        </header>

                        <div class="tab-content">
                            <div id="Redigera" class="tab-pane fade in active">
                                <div class="right-content">


                                    <div class="accordion Aktiva" id="Aktiva">
                                        {{#forEach application }}
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button"
                                                        data-toggle="collapse" data-target="#{{_id}}"
                                                        aria-expanded="false" aria-controls="{{_id}}">
                                                        <span class="icon-logo"><i class="fas fa-circle"></i></span>
                                                        {{ name }} <span><i class="fas fa-caret-right"></i></span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="{{_id}}" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#Aktiva">
                                                <div class="card-body">
                                                    {{description}}
                                                </div>
                                            </div>
                                        </div>
                                        {{/forEach}}
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="container installningar">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <h2>Uppgifter</h2>

                                            <form>
                                                <ul>
                                                    <li><label>Epost</label>
                                                        <input type="text" name="" placeholder=" joel@microaalabs.se">
                                                    </li>
                                                    <li><label>Nytt Lösenord</label>
                                                        <input type="text" name="" placeholder=""></li>
                                                    <li><label>bekräfta Nytt Lösenord</label>
                                                        <input type="text" name=""></li>
                                                </ul>
                                                <a href="#" class="btn">Ändra Lösendord</a>
                                            </form>


                                        </div>
                                        <div class="col-sm-12 col-md-6">

                                            <h2>Notiser </h2>

                                            <form>
                                                <ul>
                                                    <li><label>jag vill prenumerera på Praktils Nyhetsbrev</label>
                                                        <input type="radio"> Ja tack!</li>
                                                </ul>
                                                <a href="#" class="btn">Spara Notisinställningar</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>

                </div>

            </div>
        </div>
    </div>
</div>